body{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
}

.glassig{
    /* Rectangle 1 */
    position: relative;
    top: 5px;
    width: 650px;
    height: 300px;
    background: rgba(217, 217, 217, 0.25);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 30px;
    border: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    /* img6 1 */
    position: absolute;
    top: 20px;
    left: 7px;
    width: 22%;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}


.name {
    position: relative;
    left: 25%;
    width: 50%;
    max-width: 294px;
    height: 5%;
    max-height: 44px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 60px;
    color: #ebeef6;
}

.about{
    /* @gauravkumar_pg is my Instagram account ID */
    position: absolute;
    top: 50%;
    left: 4%;
    width: 100%;
    max-width: 630px;
    height: 10%;
    max-height: 72px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
}  

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

ul {
    position: relative;
    display: flex;
    /* transform: rotate(25deg) skew(25deg); */
    transform-style: preserve-3d;
 }
 ul li {
   position: relative;
   list-style: none;
   width: 35px;
   height: 35px;
   left: 105px;
   margin: 10px 20px;
 }
 ul li:before{
   content: '';
   position: absolute;
   bottom: -10px;
   left: -5px;
   width: 100%;
   height: 10px;
   background: #2a2a2a;
   transform-origin: top;
   transform: skewX(-41deg);
 }
 ul li:after{
   content: '';
   position: absolute;
   top:5px;
   left: -9px;
   width: 9px;
   height: 100%;
   background: #2a2a2a;
   transform-origin: right;
   transform: skewY(-49deg);
 }
 ul li span{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex !important;
   background:rgba(107, 105, 105, 0.25);
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 30px !important;
   transition: 1.5s ease-out;
 }
 ul li:hover span {
   z-index: 1000;
   transition: .3s;
   color: #fff;
   box-shadow: -1px 1px 1px rgba(217, 217, 217, 0.25);
 }
 ul li:hover span:nth-child(5){
   transform: translate(40px, -40px);
   opacity: 1;
 }
 ul li:hover span:nth-child(4){
   transform: translate(30px, -30px);
   opacity: .8;
 }
 ul li:hover span:nth-child(3){
   transform: translate(20px, -20px);
   opacity: .6;
 }
 ul li:hover span:nth-child(2){
   transform: translate(10px, -10px);
   opacity: .4;
 }ul li:hover span:nth-child(1){
   transform: translate(0px, 0px);
   opacity: .2;
 }
 ul li:nth-child(1):hover span{
   background: #52E19F !important;
 }
 ul li:nth-child(2):hover span{
   background: #2C3456 !important;
 }
 ul li:nth-child(3):hover span{
   background: #EA6E96 !important;
 }
 ul li:nth-child(4):hover span{
   background: #FCEB00 !important;
 }
 ul li:nth-child(5):hover span{
  background: #007efc !important;
}
ul li:nth-child(6):hover span{
  background: #98eb2b !important;
}


@media only screen and (max-width: 600px) {
  body {
    background: #4F8B89;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    height: 95%;
    margin: 4%;
    padding: 0%;
    width: 95%;
  }

  .glassig {
    background: rgba(173, 209, 148, 0.25);
    justify-content: center;
    width: 94%;
    height: 100%;
    top: 50%;
    left: 48%;
    position: relative; /* added to make 'right' work properly */
    right: 0; /* removed fixed pixel value to make it responsive */
  }
  
  img {
    display: flex;
    margin: 10px 65px;
    width: 60%;
    height: 215px;
  }
  
  
  .name {
    width: 70%;
    top: 240px;
    left: 15%;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
  }
  
  .about {
    text-align: center;
    top: 370px;
    left: 5%;
    width: 90%;
    font-size: 20px;
    line-height: 30px;
  }
  
  ul {
    position: relative;
    padding: 0%;
    margin: 6%;
    left: 25px;
    top: 225px;
    display: flex;
    flex-wrap: wrap;
    transform: none;
  }
  
  ul li {
    width: 30px;
    height: 30px;
    margin-left: 8%;
    margin: 3%;
    left: 4px;
  }
  
  ul li:before {
    bottom: -5px;
    height: 5px;
    transform: skewX(-30deg);
  }
  
  ul li:after {
    top: 0;
    left: -5px;
    width: 5px;
    height: 30px;
    transform: skewY(-30deg);
  }
  
  ul li span {
    font-size: 24px !important;
  }
}


/* media query for screens smaller than 768px */
@media only screen and (max-width: 767px) {
  .glassig {
    right: 10px;
  }
}

/* media query for screens between 768px and 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .glassig {
    right: 20px;
  }
  ul {
    flex-direction: column;
  }
}

/* media query for screens larger than 1023px */
@media only screen and (min-width: 1024px) {
  .glassig {
    right: 850px;
  }
}
